<style type="text/css">
    body {
        height: auto;
    }

    .aui-content-padded {
        padding-top: 15px;
    }

    .aui-btn-block {
        margin-bottom: 15px;
    }


</style>
<div class="aui-content-padded">
    <div class="aui-btn aui-btn-block aui-btn-info" tapmode ng-click="openModal()">打开modal</div>
    <div class="aui-btn aui-btn-block aui-btn-info" tapmode ng-click="confim()">简单自定义</div>
    <div class="aui-btn aui-btn-block aui-btn-info" tapmode ng-click="actionSheet()">打开ActionSheet</div>
</div>
<div class="aui-content-padded">
    <p>结果：<span id="result"></span></p>
</div>
