<p class="aui-padded-10">
    checkbox效果，新版本中定义在了.aui-form里面，可以通过.aui-pull-right控制位置
</p>
<div class="aui-content">
    <div class="aui-form">
        <div class="aui-input-row">
            <label class="aui-input-addon">checkbox</label>

            <div class="aui-pull-right">
                <input class="aui-checkbox" type="checkbox">

                <div class="aui-checkbox-name">选项一</div>
                <input class="aui-checkbox" type="checkbox">

                <div class="aui-checkbox-name">选项二</div>
            </div>
        </div>
        <div class="aui-input-row">
            <label class="aui-input-addon">checkbox</label>
            <input class="aui-pull-right aui-checkbox aui-checkbox-info" type="checkbox">
        </div>
        <div class="aui-input-row">
            <label class="aui-input-addon">checkbox</label>
            <input class="aui-pull-right aui-checkbox aui-checkbox-success" type="checkbox" checked>
        </div>
        <div class="aui-input-row">
            <input class="aui-checkbox aui-checkbox-danger" type="checkbox">
            <label class="aui-input-addon">checkbox</label>
        </div>
        <div class="aui-input-row">
            <input class="aui-checkbox aui-checkbox-warning" type="checkbox">
            <label class="aui-input-addon">checkbox</label>
        </div>
    </div>
</div>
<div class="aui-card">
    <div class="aui-form">
        <div class="aui-input-row">
            <label class="aui-input-addon">checkbox</label>

            <div class="aui-pull-right"><input class="aui-checkbox" type="checkbox"></div>
        </div>
        <div class="aui-input-row">
            <label class="aui-input-addon">checkbox</label>

            <div class="aui-pull-right"><input class="aui-checkbox" type="checkbox" disabled></div>
        </div>
    </div>
</div>