<p class="aui-text-center">.aui-list-view-cell .aui-img</p>
<div class="aui-content">
    <ul class="aui-list-view">
        <li class="aui-list-view-cell aui-img" ng-repeat="s in [0,1,2,3]">
            <img class="aui-img-object aui-pull-left" ng-src="./images/1.jpeg">

            <div class="aui-img-body">
                图文列表
                <p>图文列表缩略图在左边的样式，默认大小为80PX，文字介绍内容可以为一行也可以为两行，超出部分自动省略</p>
            </div>
        </li>
    </ul>
</div>
<p class="aui-text-center">aui-img-object增加 aui-pull-right</p>
<div class="aui-content">
    <ul class="aui-list-view">
        <li class="aui-list-view-cell aui-img" ng-repeat="s in [0,1,2]">
            <img class="aui-img-object aui-pull-right" ng-src="./images/1.jpeg">

            <div class="aui-img-body">
                图文列表
                <p class='aui-ellipsis-2'>图文列表缩略图在左边的样式，默认大小为80PX，文字介绍内容可以为一行也可以为两行，超出部分自动省略</p>
            </div>
        </li>
    </ul>
</div>

<p class="aui-text-center">aui-card aui-noborder</p>
<div class="aui-card aui-noborder">
    <ul class="aui-list-view">
        <li class="aui-list-view-cell aui-img" ng-repeat="s in [0,1,2,3]">
            <img class="aui-img-object aui-pull-left" ng-src="./images/1.jpeg">

            <div class="aui-img-body">
                图文列表
                <p class='aui-ellipsis-2'>图文列表缩略图在左边的样式，默认大小为80PX，文字介绍内容可以为一行也可以为两行，超出部分自动省略</p>
            </div>
        </li>
    </ul>
</div>