<div u-scroll loadUp="refresh()" loadDown="loadMore()">
    <div class="aui-content">
        <ul class="aui-list-view aui-in">
            <li class="aui-list-view-cell" tapmode>
                <div class="aui-arrow-right">
                    <i class="aui-iconfont aui-icon-clothes aui-bg-warning"></i>模板
                    <span class="aui-badge aui-badge-danger aui-pull-right">NEW</span>
                </div>
            </li>
            <li class="aui-list-view-cell" tapmode>
                <div class="aui-arrow-right aui-text-danger">
                    <i class="aui-iconfont aui-icon-sort aui-bg-danger"></i>更新说明
                    <span class="aui-badge aui-badge-danger aui-pull-right">V 1.1.8</span>
                </div>
            </li>
        </ul>
    </div>
    <div class="aui-content">
        <ul class="aui-list-view">

            <li class="aui-list-view-cell" tap-mode ng-click="go('button')">
                <a class="aui-arrow-right">按钮</a>
            </li>
            <li class="aui-list-view-cell" tap-mode ng-click="go('tab.index')">
                <a class="aui-arrow-right">底部工具栏</a>
            </li>
            <li class="aui-list-view-cell" tap-mode ng-click="go('form')">
                <a class="aui-arrow-right">表单</a>
            </li>
            <li class="aui-list-view-cell" tap-mode ng-click="go('switch')">
                <a class="aui-arrow-right">switch开关</a>
            </li>
            <li class="aui-list-view-cell" tap-mode ng-click="go('checkbox')">
                <a class="aui-arrow-right">checkbox选择</a>
            </li>
            <li class="aui-list-view-cell" tap-mode ng-click="go('radio')">
                <a class="aui-arrow-right">radio选择</a>
            </li>
            <li class="aui-list-view-cell" tap-mode ng-click="go('list_frm')">
                <a class="aui-arrow-right">普通列表</a>
            </li>
            <li class="aui-list-view-cell" tap-mode ng-click="go('list_frm_arr')">
                <a class="aui-arrow-right">带有角标和箭头的列表</a>
            </li>
            <li class="aui-list-view-cell" tap-mode ng-click="go('list_frm_thumb')">
                <a class="aui-arrow-right">缩略图列表</a>
            </li>

            <li class="aui-list-view-cell" tap-mode ng-click="go('list_frm_image')">
                <a class="aui-arrow-right">图片列表布局</a>
            </li>
            <li class="aui-list-view-cell" tap-mode ng-click="go('head_bar')">
                <a class="aui-arrow-right">导航栏</a>
            </li>

            <li class="aui-list-view-cell" tap-mode ng-click="go('list_nine')">
                <a class="aui-arrow-right">九宫格</a>
            </li>
            <li class="aui-list-view-cell" tap-mode ng-click="go('list_sixteen')">
                <a class="aui-arrow-right">十六宫格</a>
            </li>
            <li class="aui-list-view-cell" tap-mode ng-click="go('tab_frm')">
                <a class="aui-arrow-right">TAB菜单<span class="aui-badge aui-badge-danger">新增主题色</span></a>
            </li>
            <li class="aui-list-view-cell" tap-mode ng-click="go('contact_book_frm')">
                <a class="aui-arrow-right">通讯录</a>
            </li>
            <li class="aui-list-view-cell" tap-mode ng-click="go('chat_frm')">
                <a class="aui-arrow-right">聊天界面</a>
            </li>
            <li class="aui-list-view-cell" tap-mode ng-click="go('iconFont_frm')">
                <a class="aui-arrow-right">图标</a>
            </li>
            <li class="aui-list-view-cell" tap-mode ng-click="go('list_counter_frm')">
                <a class="aui-arrow-right">计数列表(购物车类样式疯狂拼合)</a>
            </li>
            <li class="aui-list-view-cell" tap-mode ng-click="go('status_frm')">
                <a class="aui-arrow-right">带状态的表单／列表</a>
            </li>
            <li class="aui-list-view-cell" tap-mode>
                <a class="aui-arrow-right">Toast</a>
            </li>
            <li class="aui-list-view-cell" tap-mode ng-click="go('tips_frm')">
                <a class="aui-arrow-right">信息提示条</a>
            </li>
            <li class="aui-list-view-cell" tap-mode ng-click="go('search_frm')">
                <a class="aui-arrow-right">搜索条<span class="aui-badge aui-badge-warning">优化</span></a>
            </li>
            <li class="aui-list-view-cell" tap-mode ng-click="go('range_frm')">
                <a class="aui-arrow-right">滑块</a>
            </li>
            <li class="aui-list-view-cell" tap-mode ng-click="go('time_line_frm')">
                <a class="aui-arrow-right">时间轴</a>
            </li>
            <li class="aui-list-view-cell" tap-mode ng-click="go('progress_frm')">
                <a class="aui-arrow-right">进度条</a>
            </li>
            <li class="aui-list-view-cell" tap-mode ng-click="go('alert_frm')">
                <a class="aui-arrow-right">自定义弹出层</a>
            </li>
            <li class="aui-list-view-cell" tap-mode ng-click="go('waterfall_frm')">
                <a class="aui-arrow-right">瀑布流</a>
            </li>
        </ul>
    </div>
</div>
<!--<div id="scroller-pullUp">
    <span id="up-icon" class="icon-double-angle-up pull-up-icon"></span>
    <span id="pullUp-msg" class="pull-up-msg">上拉刷新</span>
</div>-->
