<div class="aui-content">
    <ul class="aui-list-view">
        <li class="aui-list-view-cell aui-img aui-counter-list" ng-repeat="s in [0,1,2,3]">
            <input class="aui-pull-left aui-checkbox" type="checkbox">
            <img class="aui-img-object aui-pull-left" src="./images/1.jpeg">

            <div class="aui-img-body">
                计数列表
                <div class="aui-counter-box">
                    <div class="aui-pull-left aui-text-danger">¥ 88元</div>
                    <div class="aui-counter aui-pull-right">
                        <div class="aui-counter-minus aui-disabled"></div>
                        <input class="aui-counter-input" type="text" value="1">

                        <div class="aui-counter-plus"></div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="aui-content">
    <ul class="aui-list-view">
        <li class="aui-list-view-cell aui-img aui-counter-list" ng-repeat="s in [0,1,2,3]">
            <input class="aui-pull-left aui-radio" type="radio" name="demo">
            <img class="aui-img-object aui-pull-left" src="./images/1.jpeg">

            <div class="aui-img-body">
                计数列表
                <div class="aui-counter-box">
                    <div class="aui-pull-left aui-text-danger">¥ 88元</div>
                    <div class="aui-counter aui-danger aui-pull-right">
                        <div class="aui-counter-minus aui-disabled"></div>
                        <input class="aui-counter-input" type="text" value="1">

                        <div class="aui-counter-plus"></div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
