<p class="aui-text-center">.aui-content</p>
<div class="aui-content">
    <ul class="aui-list-view">
        <li class="aui-list-view-cell">
            <div class="aui-arrow-right">带有角标和箭头的列表</div>
        </li>
        <li class="aui-list-view-cell">
            <div class="aui-arrow-right">带有角标和箭头的列表</div>
        </li>
        <li class="aui-list-view-cell">
            <div class="aui-arrow-right aui-ellipsis-1">
                如果标题太长可以加一个省略来控制一下如果标题太长可以加一个省略来控制一下
            </div>
        </li>
    </ul>
</div>
<div class="aui-content">
    <ul class="aui-list-view">
        <li class="aui-list-view-cell">
            <a class="aui-arrow-right">
                带有角标和箭头的列表
                <span class="aui-badge">12</span>
            </a>
        </li>
        <li class="aui-list-view-cell">
            <a class="aui-arrow-right">
                带有角标和箭头的列表
                <span class="aui-badge aui-badge-info">12</span>
            </a>
        </li>
        <li class="aui-list-view-cell">
            <a class="aui-arrow-right">
                带有角标和箭头的列表
                <span class="aui-badge aui-badge-warning">12</span>
            </a>
        </li>
        <li class="aui-list-view-cell">
            <a class="aui-arrow-right">
                带有角标和箭头的列表
                <span class="aui-badge aui-badge-danger">12</span>
            </a>
        </li>
    </ul>
</div>
<p class="aui-text-center">.aui-card .aui-noborder</p>
<div class="aui-card aui-noborder">
    <ul class="aui-list-view">
        <li class="aui-list-view-cell">
            <a class="aui-arrow-right">带有角标和箭头的列表</a>
        </li>
        <li class="aui-list-view-cell">
            <a class="aui-arrow-right">带有角标和箭头的列表</a>
        </li>
        <li class="aui-list-view-cell">
            <a class="aui-arrow-right aui-ellipsis-1">如果标题太长可以加一个省略来控制一下如果标题太长可以加一个省略来控制一下</a>
        </li>
    </ul>
</div>
<p class="aui-text-center">.aui-card</p>
<div class="aui-card">
    <ul class="aui-list-view">
        <li class="aui-list-view-cell">
            <a class="aui-arrow-right">
                带有角标和箭头的列表
                <span class="aui-badge aui-badge-warning">12</span>
            </a>
        </li>
        <li class="aui-list-view-cell">
            <a class="aui-arrow-right">带有角标和箭头的列表</a>
        </li>
    </ul>
</div>
