<div class="aui-content">
    <p>带有提示的滑块：<span id="value-1">30</span></p>

    <div class="aui-range" style="margin-top:30px;">
        <input type="range" class="aui-range-danger" value="30" max="100" min="1" step="1" id="range"/>
    </div>
</div>
<div class="aui-content">
    <p>带有提示的滑块：<span id="value-2">40</span></p>

    <div class="aui-range" style="margin-top:30px;">
        <input type="range" value="40" max="100" min="1" step="1" id="range2"/>
    </div>
</div>
<div class="aui-content">
    <p>普通滑块：<span id="value">50</span></p>

    <div class="aui-range"><input type="range" value="50" max="100" min="1" class="aui-range-primary demo"/></div>
    <div class="aui-range"><input type="range" value="50" max="100" min="1" class="aui-range-info demo"/></div>
    <div class="aui-range"><input type="range" value="50" max="100" min="1" class="aui-range-warning demo"/></div>
</div>
