<div class="aui-searchbar-wrap demo" id="search" tip-search>
    <div class="aui-searchbar aui-border-radius" tapmode>
        <i class="aui-iconfont aui-icon-search"></i>

        <div class="aui-searchbar-text">请输入搜索内容</div>
        <div class="aui-searchbar-input">
            <input type="text" placeholder="请输入搜索内容" id="search-input">
        </div>
        <i class="aui-iconfont aui-icon-roundclosefill" tapmode></i>
    </div>
    <div class="aui-searchbar-cancel aui-text-info" tapmode>取消</div>
</div>