<div ng-xpull="reload()">
    <div class="aui-content" pull-to-refresh="onReload()">
        <ul class="aui-list-view">
            <li class="aui-list-view-cell aui-img" ng-repeat="s in [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14]">
                <img class="aui-img-object aui-pull-left" src="images/demo4.png">
                <div class="aui-img-body">
                    图文列表
                    <p class='aui-ellipsis-2'>图文列表缩略图在左边的样式，默认大小为80PX，文字介绍内容可以为一行也可以为两行，超出部分自动省略</p>
                </div>
            </li>
        </ul>
    </div>
</div>