<style>
    p {
        margin-bottom: 15px;
    }

    .aui-content-padded {
        margin-top: 10px;
    }

    .aui-tab {
        margin-bottom: 15px;
    }
</style>
<p class="aui-text-center">默认配色</p>
<div class="aui-tab">
    <ul class="aui-tab-nav" id="demo1">
        <li class="active">标签一</li>
        <li>标签二</li>
        <li>标签三</li>
    </ul>
</div>

<div class="aui-content-padded">
    <div class="aui-tab">
        <ul class="aui-tab-nav aui-tab-border" id="demo2">
            <li class="active">标签一</li>
            <li>标签二</li>
            <li>标签三</li>
            <li>标签四</li>
        </ul>
    </div>
</div>
<p class="aui-text-center">其他配色</p>
<div class="aui-tab aui-tab-success">
    <ul class="aui-tab-nav">
        <li class="active">标签一</li>
        <li>标签二</li>
        <li>标签三</li>
    </ul>
</div>
<div class="aui-tab aui-tab-danger">
    <ul class="aui-tab-nav">
        <li class="active">标签一</li>
        <li>标签二</li>
        <li>标签三</li>
    </ul>
</div>
<div class="aui-tab aui-tab-warning">
    <ul class="aui-tab-nav">
        <li class="active">标签一</li>
        <li>标签二</li>
        <li>标签三</li>
    </ul>
</div>
<div class="aui-tab aui-tab-info">
    <ul class="aui-tab-nav">
        <li class="active">标签一</li>
        <li>标签二</li>
        <li>标签三</li>
    </ul>
</div>
<div class="aui-tab aui-tab-dark">
    <ul class="aui-tab-nav">
        <li class="active">标签一</li>
        <li>标签二</li>
        <li>标签三</li>
    </ul>
</div>

<div class="aui-content-padded">
    <div class="aui-tab aui-tab-success">
        <ul class="aui-tab-nav aui-tab-border">
            <li class="active">标签一</li>
            <li>标签二</li>
            <li>标签三</li>
            <li>标签四</li>
        </ul>
    </div>
</div>
<div class="aui-content-padded">
    <div class="aui-tab aui-tab-info">
        <ul class="aui-tab-nav aui-tab-border">
            <li class="active">标签一</li>
            <li>标签二</li>
            <li>标签三</li>
            <li>标签四</li>
        </ul>
    </div>
</div>
<div class="aui-content-padded">
    <div class="aui-tab aui-tab-danger">
        <ul class="aui-tab-nav aui-tab-border">
            <li class="active">标签一</li>
            <li>标签二</li>
            <li>标签三</li>
            <li>标签四</li>
        </ul>
    </div>
</div>
<div class="aui-content-padded">
    <div class="aui-tab aui-tab-warning">
        <ul class="aui-tab-nav aui-tab-border">
            <li class="active">标签一</li>
            <li>标签二</li>
            <li>标签三</li>
            <li>标签四</li>
        </ul>
    </div>
</div>
<div class="aui-content-padded">
    <div class="aui-tab aui-tab-dark">
        <ul class="aui-tab-nav aui-tab-border">
            <li class="active">标签一</li>
            <li>标签二</li>
            <li>标签三</li>
            <li>标签四</li>
        </ul>
    </div>
</div>
