<div class="overflow ">
    <header class="aui-bar aui-bar-nav aui-bar-primary" >
        <a class="aui-btn aui-btn-primary aui-pull-left" ng-click="remove()">
            <span class="aui-iconfont aui-icon-left"></span>
        </a>
        <div class="aui-title">标题</div>
    </header>
    <div style="text-align: center;width:100%;background:#fff;height:{{contentHeight.height}}"
         ng-click="test()" >
        <!--<span ng-click="remove()" style="font-size: 20px;float:right;color:#333;">&times;</span>-->
        {{userName}}
    </div>
</div>